<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonuy.thumbwars"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <!-- Launcher activity -->
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ResultsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait"/>

        <!-- SMS receiver -->
        <receiver android:name=".receivers.SMSReceiver">
            <!-- Highest priority available is 1000 -->
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- MMS receiver -->
        <!--<receiver android:name=".receivers.MMSReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>-->

    </application>

</manifest>
